<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>3DS Test</title>
  </head>
  <body>

  	<div id="app" class="container">
			<form @submit.prevent="search">
				<div class="input-group my-3">
				  <input type="text" v-model="search" class="form-control" placeholder="Video Search Result">
				</div>
			</form>

			<div class="row">
				<div class="col-md-4 mb-3" v-for="vdo in filteredList">
					<iframe width="100%" height="315" :src="embed(vdo.id.videoId)" style="border: none;">
					</iframe>
					<strong>{{ vdo.snippet.title }}</strong>
					<div>{{ vdo.snippet.description }}</div>
				</div>
			</div>

  	</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="./script.js"></script>
  </body>
</html>